<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorator="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/table.css}">

    <title>Admin panel</title>

</head>

<body>

<div class="container">
    <div class="row">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white">
                    <b><span sec:authentication="principal.username">User</span></b>
                    with role(s): <b><span sec:authentication="principal.authorities">User</span></b>
                </a>
                <a th:href="@{/logout}" class="link-secondary" style="font-size: 125%">Logout</a>
            </div>
        </nav>
    </div>
</div>


<div class="container my-3">
    <div class="row">
        <div class="col-3">
            <div class="btn-group-vertical gap-2 col-12" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <a class="btn btn-outline-primary border-0 rounded-1 text-start" for="btnradio1"
                   th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">Admin</a>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" unchecked>
                <a class="btn btn-outline-primary border-0 rounded-1 text-start" for="btnradio2"
                   th:href="@{/user}">User</a>

            </div>
        </div>
        <div class="col bg-light">

            <div class="container">
                <br>
                <h2>Admin panel</h2>
                <hr>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#userstable" data-bs-toggle="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newuser" data-bs-toggle="tab">New user</a>
                    </li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="userstable">
                        <div class="card mb-5">
                            <div class="card-header">
                                <h4>All users</h4>
                            </div>
                            <div class="container my-3">
                                <table class="table table-striped my-3 mb-4">
                                    <thead>
                                    <tr style="border-top-width: 1px">
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Age</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody style="border-top-width: 1px; border-color:lightgrey">
                                    <tr th:each="tempUser : ${users}">

                                        <td th:text="${tempUser.id}">1</td>
                                        <td th:text="${tempUser.firstName}">John</td>
                                        <td th:text="${tempUser.lastName}">DoW</td>
                                        <td th:text="${tempUser.email}">john@mail.ru</td>
                                        <td th:text="${tempUser.age}">33</td>
                                        <td th:text="${tempUser.roles}">USER</td>


                                        <td>
                                            <!-- Update button triggers update modal -->
                                            <a th:href="@{/admin/{id}(id=${tempUser.id})}"
                                               class="btn btn-info btn-sm">
                                                Update
                                            </a>
                                        </td>
                                        <td>
                                            <!-- Delete button triggers delete modal -->
                                            <button type="button" class="btn btn-sm btn-danger"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#deleteModal'+*{tempUser.id}">
                                                Delete
                                            </button>
                                            <!-- END of 'Delete button triggers modal' -->

                                            <!-- Delete Modal -->
                                            <div class="modal fade" th:id="*{'deleteModal'+{tempUser.id}}"
                                                 id="deleteModal"
                                                 tabindex="-1" aria-labelledby="deleteModalLabel"
                                                 aria-hidden="true">
                                                <div
                                                        class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">
                                                                Confirm action</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:method="GET">
                                                                <div class="form-group">
                                                                    <label for="id" class="m-1"><b>ID</b></label>
                                                                    <input type="text"
                                                                           th:value="*{tempUser.id}"
                                                                           class="form-control mb-4 col-4"
                                                                           id="id"
                                                                           disabled="disabled">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="firstName" class="m-1"><b>First name</b></label>
                                                                    <input type="text"
                                                                           th:value="*{tempUser.firstName}"
                                                                           class="form-control mb-4 col-4"
                                                                           id="firstName"
                                                                           disabled="disabled">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="lastName" class="m-1"><b>Last
                                                                        name</b></label>
                                                                    <input type="text"
                                                                           th:value="*{tempUser.lastName}"
                                                                           class="form-control mb-4 col-4"
                                                                           id="lastName"
                                                                           disabled="disabled">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email" class="m-1"><b>Email</b></label>
                                                                    <input type="text"
                                                                           th:value="*{tempUser.email}"
                                                                           class="form-control mb-4 col-4"
                                                                           id="email"
                                                                           disabled="disabled">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="age" class="m-1"><b>Age</b></label>
                                                                    <input type="number"
                                                                           th:value="*{tempUser.age}"
                                                                           class="form-control mb-4 col-4"
                                                                           id="age"
                                                                           disabled="disabled">
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="mb-3"><b>Roles:</b>
                                                                        <th:block th:each="role: ${tempUser.roles}">
                                                                            <input type="checkbox" checked disabled
                                                                                   th:text="${role.name}"
                                                                                   th:value="${role.id}"
                                                                                   class="m-2"/>
                                                                        </th:block>
                                                                    </label>
                                                                </div>
                                                            </form>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <form th:action="@{/admin/{id}(id=${tempUser.id})}"
                                                                      th:method="delete">
                                                                    <input class="btn btn-danger btn" type="submit"
                                                                           value="Delete">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END of 'Delete Modal' -->

                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="newuser">
                        <div class="card mb-5">
                            <div class="card-header">
                                <h4>Add new User</h4>
                            </div>
                            <div class="container m-4 col-6">
                                <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4"
                                           placeholder="First name">
                                    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4"
                                           placeholder="Last name">
                                    <input type="text" th:field="*{email}" class="form-control mb-4 col-4"
                                           placeholder="Email">
                                    <input type="text" th:field="*{age}" class="form-control mb-4 col-4"
                                           placeholder="Age">
                                    <div class="form-group">
                                        <div class="input-group" id="show_hide_password">
                                            <input type="password" th:field="*{password}"
                                                   class="form-control mb-4 col-4" placeholder="Password">
                                        </div>
                                    </div>
                                    Select roles for this User:
                                    <th:block th:each="role: ${roles}">
                                        <b><input type="checkbox" th:field="*{roles}" th:text="${role.name}"
                                                  th:value="${role.id}" class="m-2"/></b>
                                    </th:block>
                                    <br>
                                    <button type="submit" class="btn btn-primary mt-4">Add new User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>