<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet"
          th:href="@{/css/table.css}">

    <title>Users List</title>

</head>

<body>

<div class="container">

    <div layout:fragment="content">
        <p>
            Welcome <b><span sec:authentication="principal.username">User</span></b>
            <br>
            Your role(s): <b><span sec:authentication="principal.authorities">User</span></b>
        <p>
        <p>
            <a th:href="@{/logout}">Logout</a>
        </p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p>
                <a th:href="@{/admin}">Admin Page</a>
            </p>
        </div>
    </div>

    <h3>Users List</h3>
    <hr>

    <a th:href="@{/admin/new}"
       class="btn btn-primary mb-3">
        New User
    </a>

    <table class="table table-bordered table-striped">
        <thead class="custom">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${users}">

            <td th:text="${tempUser.id}"></td>
            <td th:text="${tempUser.firstName}"></td>
            <td th:text="${tempUser.lastName}"></td>
            <td th:text="${tempUser.email}"></td>
            <td th:text="${tempUser.age}"></td>
            <td th:text="${tempUser.roles}"></td>

            <td>
                <a th:href="@{/admin/{id}/update(id=${tempUser.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
            </td>
            <td>
                <form th:action="@{/admin/{id}(id=${tempUser.id})}" th:method="delete">
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete"
                           onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false"/>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>

</html>