<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users List</title>

</head>

<body>

<div class="container">

    <div layout:fragment="content">
        <p>
            Welcome <b><span sec:authentication="principal.username">User</span></b>
            <br>
            Your role(s): <b><span sec:authentication="principal.authorities">User</span></b>
        <p>
            <a th:href="@{/logout}">Logout</a>
        </p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p>
                <a th:href="@{/admin}">Admin Page</a>
            </p>
        </div>
    </div>

        <h3>User information page</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="custom">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Roles</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${user.getId}">VALUE</td>
            <td th:text="${user.getFirstName}">VALUE</td>
            <td th:text="${user.getLastName}">VALUE</td>
            <td th:text="${user.getEmail}">VALUE</td>
            <td th:text="${user.getAge}">VALUE</td>
            <td th:text="${user.getRoles}">VALUE</td>
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>